{
    "title" :             "loadTasks.js",
    "content_file" :      "README.md",
    "include_index" :     true,
    "docco_files" :       "evently/*.*",
    "header" :            "dj-taskr",
    "subheader" :         "The quickie-wiki Github project page generator",
    "background" :        "whitey"
}