<div id="projects">
        
        <% graph.find({type: "/type/project"}).each(function(p) { %>
          <a href="" class="load-project<%= p._id === project._id ? " active" : "" %>" project="<%= p._id %>"><%= p.get('name') %></a>
        <% }); %>
        <a href="#" class="create-project">+</a>
      </div>
      
      <div>
        <h1><%= project.get('name') %></h1>
        
        <div id="new_task">
          <form id="new_task_form">
            <input type="text" name="task_name" id="task_name"/>
            <input type="submited" value="Add Task"/>
          </form>
        </div>
        
        <div id="tasks-container">
          <% project.get('tasks').each(function(task, key) { %>
            <div class="task<%= task.get('complete') ? " complete" : ""%>" task="<%= key %>">
              <div class="checkbox"></div>
              <a href="#" class="remove" title="Remove Task"></a>
              <div class="title"><input type="text" value="<%= task.get('name') %>"/> </div>
              <div class="revision">_rev: <%= task._rev ? task._rev : "" %> <%= task._dirty ? '<span class="tag">pending</span>' : '' %></div>
            </div>
          <% }); %>
        </div>
      </div>